:root {
  --brown: #2d1ef1;
  --yellow: #ff9e09;
  --gray: #ece8dc;
  --white: #ffffff;
  --dark: #222;
}

body {
  background: var(--white);
  color: var(--dark);
  font-family: Verdana, Tahoma, sans-serif !important;
}

footer {
  font-family: monospace, "JetBrains Mono", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", monospace !important;
  letter-spacing: 0.25rem !important;
}

.text-yellow {
  color: var(--yellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--yellow);
  font-size: 2rem;
}

.default-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5));
  background-size: cover;
}

.btn-outline-info:hover {
  background: lightskyblue;
}
